/*
 * Name: Juda Fernandez
 * Section: AM - Fadel
 * Description: Provides styling for my math dojo webpage.
 * There's nothing too fancy; I didn't really want to spend too much
 * time on styling for this project, but I also didn't
 * want to have a bland/horrendous looking webpage lol
 */

body {
  background-color: darkred;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}
