
body {
  background-image: url("images/math-image.jpg");
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}

header {
  text-align: center;
}

#practice-page {
  background-color:darkred;
  border-radius: 20px;
}

#correct-answer-message {
  background-color: green;
  border-radius: 20px;
  text-align: center;
}

#incorrect-answer-message {
  background-color: red;
  border-radius: 20px;
  text-align: center;
}

.hidden {
  display: none;
}
